<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.title %>
  </td>
  <td class="align-middle">
    <%= image_tag badge.image %>
  </td>
  <td class="align-middle">
    <%=  badge.rule %>
  </td>
  <td class="align-middle">
    <%=  badge.value %>
  </td>
</tr>
