<h2>Вопрос</h2>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b>Ответы: </b>
  <%= @answer.body %>
</p>

<p>
  <b>Корректность: </b>
  <%= @answer.correct %>
</p>

<%= link_to 'Назад', admin_question_path(@answer.question)%>
