<div align="center">
  </br>
  <%= current_year %>
  </br>
  Автор приложения: Михаил Гришкин.
  <%= github_url('merkax', 'test-guru') %> 
  </br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank'%>
</div>

