  <div class="card text-center navbar fixed-bottom">
    <div class="card-body">
      <p>
      <%= current_year %>
      </p>
      Автор приложения: Михаил Гришкин.
      <%= github_url('merkax', 'test-guru') %> 
      <p>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank'%>
      </p>
    </div>
  </div>

